@charset "utf-8";

body {
    font-size: 14px;
    font-family: system-ui;
    line-height: 1.5;
    margin: 0;
}

body h1 {
    font-size: 20px;
    font-family: sans-serif;
}

.myContainer {
    /* margin: 0 auto 0 auto; */
    padding: 0 30px 0 30px;
    /* max-width: 1000px; */
}

/* ヘッダー */
header {
    
}

.header-inner {
    padding: 10px 10px 0 10px;
    background: rgb(255, 173, 164);
}

.logo {
    font-size: 30px;
}

.logo a {
    color: #000;
    text-decoration: none;
}

/* ナビゲーションバー */
nav {

}

.navbar {
    display: flex;
    background: slategray;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.navbar li a:hover {
    background: rgb(220, 220, 220);
    color: black;
}

.pyPlot{
    display: block;
    max-width: 100%;
    height: auto;
}

.text-input {
    width: 20%; /*親要素いっぱい広げる*/
    padding: 10px 15px; /*ボックスを大きくする*/
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

#btn {
    color: #fff;
    background: #f56500;
    padding: 10px 15px; /*ボックスを大きくする*/
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/

}