@charset "utf-8";

body {
    font-size: 14px;
    font-family: system-ui;
    line-height: 1.5;
    margin: 0;
}

body h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

body p {
    margin: 0 0 10px 0;
    font-size: 12px;
}

.myContainer {
    /* margin: 0 auto 0 auto; */
    padding: 0 30px 0 30px;
    /* max-width: 1000px; */
}

/* ヘッダー */
.header-inner {
    padding: 10px 10px 0 10px;
    background: rgb(255, 173, 164);
}

.logo {
    font-size: 30px;
}

.logo a {
    color: #000;
    text-decoration: none;
}

/* ナビゲーションバー */
.navbar {
    display: flex;
    background: slategray;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.navbar li a:hover {
    background: rgb(220, 220, 220);
    color: black;
}

/* main */
.div-overview {
    margin: 0 0 30px 0;
}

.div-form {
    margin: 0 0 30px 0;
}

.pyPlot {
    display: block;
    max-width: 100%;
    height: auto;
}

#error {
    color: red;
}

.text-input {
    width: 20%;
    padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

#btn {
    color: #fff;
    background: #f56500;
    padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid #ddd;
}