body h1 {
    font-size: 30px;
    font-family: sans-serif;
}

body {
    font-size: 16px;
    font-family: system-ui;
}

.text-input {
    width: 10%; /*親要素いっぱい広げる*/
    padding: 10px 15px; /*ボックスを大きくする*/
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

#btn {
    color: #fff;
    background: #f56500;
    padding: 10px 15px; /*ボックスを大きくする*/
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/

}